.h1 {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.h2 {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.h3 {
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
