.category {
  margin: 50px auto;
  padding: 0 16vw;
}

.info {
  width: 100%;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 900px;
  }

  a {
    // text-decoration: none;
    color: inherit;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 16px;
}
