.card-container {
  position: relative;
  height: 480px;
}

.card {
  position: absolute;

  height: fit-content;
  overflow: hidden;
  background-color: #fffff2;
  margin: 0px 0px;
  transition: margin 300ms ease;

  &:hover {
    margin: -10px -20px;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35),
      0px 0px 8px 0px rgba(0, 0, 0, 0.35);
    border-left: none;

    p {
      -webkit-line-clamp: 1000;
      margin-bottom: 10px;
    }

    button {
      display: block;
    }
  }
}

.img-container {
  position: relative;
  padding: 0;
  height: 400px;

  div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 70%,
      85%,
      rgba(255, 255, 242, 1) 100%
    );
  }

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

.content-container {
  position: relative;
  z-index: 10;
  margin-top: -30px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 7rem;

  div {
    margin-bottom: 10px;
    font-size: 1.5rem;

    h3 {
      display: inline;
      font-weight: 700;
      font-size: inherit;
      margin: 0;
    }

    span {
      margin-left: 20px;
      font-size: inherit;
    }
  }

  p {
    color: #747474;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  button {
    margin-top: 10px;
    height: 2.5rem;
    display: none;
  }
}

.two-lines {
  -webkit-line-clamp: 3;
}

.one-line {
  -webkit-line-clamp: 2;
}

.price {
  font-weight: 500;
  font-size: 1.4rem;
}

.tag {
  color: rgb(184, 136, 34);

  font-size: 0.8rem;

  font-weight: bold;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 6px;
}
