.header {
  background-color: #fffff2;
  border-bottom: solid 1px grey;
  height: 80px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dolls-by-andi {
  // @import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
  // font-family: "Pacifico", cursive;

  margin: 0;
  font-size: 2rem;
}

.dolls-by-andi-link {
  text-decoration: none;
  color: #1d1d1d;
}

.nav {
  ul {
    list-style-type: none;
    margin: 0 -30px;
    display: flex;

    li {
      margin: 0 30px;
    }
  }
}

.nav-item {
  font-size: 1rem;
  color: #6d6d6d;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.active-nav-item {
  font-weight: 700;
  color: #1d1d1d;
}
